html {
  background: #f8f8f8;
}
h2{
  font-size: 32px;
}
.sidebar {
  opacity: 0.3;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 20px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: none; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 120px;
  padding-left: 10px;
  padding-right: 10px;
}
.sidebar img {
  width: 100%;
  padding-bottom: 50px;
}



.Header {
  background: #2b2b28;
  padding-top: 30px;
  padding-bottom: 30px;
  height: auto;
  position: sticky;
}

.Header p{
  color: #e3b04b;
}

.Profile {
  background: #e3b04b;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
  height: auto;
}

.Profile img{
  width: 100%;
  position: center;
  border-radius: 50%;
  border-color: #ffffff;
  border-style: solid;
}

.Profile h2{
  color: #2b2b28;
  text-align: center;
  font-size: 50px;
}
#sign {
    margin-left: 90px;
    margin-top: -40px;
}

#sign path{
  fill: none;
  stroke-width: 10;
  stroke: #000000;
}

#sign path:nth-child(1) {
  stroke-dasharray: 1627px;
  stroke-dashoffset: 1627px;
  animation: line-anim 1s ease forwards;
}

#sign path:nth-child(2) {
  stroke-dasharray: 204px;
  stroke-dashoffset: 204px;
  animation: line-anim 0.125s ease forwards 1;
  animation-delay: 1000ms;
}

#sign path:nth-child(3) {
  stroke-dasharray: 176px;
  stroke-dashoffset: 176px;
  animation: line-anim 0.108s ease forwards 1;
  animation-delay: 1233ms;
}

#sign path:nth-child(4) {
  stroke-dasharray: 201px;
  stroke-dashoffset: 201px;
  animation: line-anim 0.123s ease forwards 1;
  animation-delay: 1456ms;
}

#sign path:nth-child(5) {
  stroke-dasharray: 159px;
  stroke-dashoffset: 159px;
  animation: line-anim 0.097s ease forwards 1;
  animation-delay: 1583ms;
}

#sign path:nth-child(6) {
  stroke-dasharray: 836px;
  stroke-dashoffset: 836px;
  animation: line-anim 0.513s ease forwards 1;
  animation-delay: 2096ms;
}

#sign path:nth-child(7) {
  stroke-dasharray: 606px;
  stroke-dashoffset: 606px;
  animation: line-anim 0.372s ease forwards 1;
  animation-delay: 2568ms;
}

#sign path:nth-child(8) {
  stroke-dasharray: 499px;
  stroke-dashoffset: 499px;
  animation: line-anim 0.306s ease forwards 1;
  animation-delay: 2874ms;
}

#sign path:nth-child(9) {
  stroke-dasharray: 158px;
  stroke-dashoffset: 158px;
  animation: line-anim 0.097s ease forwards 1;
  animation-delay: 3121ms;
}

#sign path:nth-child(10) {
  stroke-dasharray: 57px;
  stroke-dashoffset: 57px;
  animation: line-anim 0.035s ease forwards 1;
  animation-delay: 3156ms;
}

#sign path:nth-child(11) {
  stroke-dasharray: 318px;
  stroke-dashoffset: 318px;
  animation: line-anim 0.195s ease forwards 1;
  animation-delay: 3351ms;
}

#sign path:nth-child(12) {
  stroke-dasharray: 979px;
  stroke-dashoffset: 979px;
  animation: line-anim 0.1s ease forwards 1;
  animation-delay: 4200ms;
}

#sign path:nth-child(13) {
  stroke-dasharray: 115px;
  stroke-dashoffset: 115px;
  animation: line-anim 0.070s ease forwards 1;
  animation-delay: 3631ms;
}

#sign path:nth-child(14) {
  stroke-dasharray: 34px;
  stroke-dashoffset: 34px;
  animation: line-anim 0.020s ease forwards 1;
  animation-delay: 3891ms;
}

@keyframes line-anim {
  to{
    stroke-dashoffset: 0;
  }
}

.Summary{
  background: #f8f8f8;
  padding-bottom: 200px;
}

h1{
  z-index: 1;
  background: #f8f8f8;
  position: relative;
  text-transform: uppercase;
  font: 300 650%/130% 'Lato';
  text-align: center;
  text-shadow: #C0C0C0 -1px 1px 0,#C2C2C2 -2px 2px 0,#C3C3C3 -3px 3px 0,#C5C5C5 -4px 4px 0,#C6C6C6 -5px 5px 0,#C8C8C8 -6px 6px 0,#C9C9C9 -7px 7px 0,#CBCBCB -8px 8px 0,#CCC -9px 9px 0,#CECECE -10px 10px 0,#CFCFCF -11px 11px 0,#D1D1D1 -12px 12px 0,#D2D2D2 -13px 13px 0,#D4D4D4 -14px 14px 0,#D5D5D5 -15px 15px 0,#D7D7D7 -16px 16px 0,#D8D8D8 -17px 17px 0,#DADADA -18px 18px 0,#DBDBDB -19px 19px 0,#DDD -20px 20px 0,#DFDFDF -21px 21px 0,#E0E0E0 -22px 22px 0,#E2E2E2 -23px 23px 0,#E3E3E3 -24px 24px 0,#E5E5E5 -25px 25px 0,#E6E6E6 -26px 26px 0,#E8E8E8 -27px 27px 0,#E9E9E9 -28px 28px 0,#EBEBEB -29px 29px 0,#ECECEC -30px 30px 0,#EEE -31px 31px 0,#EFEFEF -32px 32px 0,#F1F1F1 -33px 33px 0,#F2F2F2 -34px 34px 0,#F4F4F4 -35px 35px 0,#F5F5F5 -36px 36px 0,#F7F7F7 -37px 37px 0,#F8F8F8 -38px 38px 0,#FAFAFA -39px 39px 0,#FBFBFB -40px 40px 0,#FDFDFD -41px 41px 0,#FFF -42px 42px 0;
}

.Summary .title::before {
    transition: .6s;
    content: '';
    position: absolute;
    left: 2%;
    top: 109%;
    width: 96%;
    height: 5px;
    background: #D4D4D4;
    pointer-events: none;
  }

.Summary p {
  padding-left: 10px;
  border-left-color: #f1d6ab;
  border-left-style: solid;
  font: 500 95% 'Raleway';
  color: #575757;
}

.Timeline{
  background: #f8f8f8;
}

.Timeline .title::before {
    transition: .6s;
    content: '';
    position: absolute;
    left: 2%;
    top: 184%;
    width: 96%;
    height: 5px;
    background: #D4D4D4;
    pointer-events: none;
  }

.E1 {
  border-right-color: #cbe2b0;
  border-right-style: solid;
  padding-right: 10px;
}

.E1 h3 {
  text-align: right;
}

.E1 h5 {
  text-align: right;
  color: #aaaaaa;
}

.W1 {
  border-left-color: #cbe2b0;
  border-left-style: solid;
  padding-left: 10px;
}

.W1 h3 {
  text-align: left;
}

.W1 h5 {
  text-align: left;
  color: #aaaaaa;
}
 .W1 span{
   color: #666666;
 }
.Timeline p {
  font: 500 95% 'Raleway';
  color: #575757;
}

.Education {
  color: #cbe2b0;
  text-align: right;
  border-bottom-color: #cbe2b0;
  border-bottom-style: solid;
  border-bottom-width: thick;
}

.Work {
  color: #bae5e5;
  text-align: left;
  border-bottom-color: #bae5e5;
  border-bottom-style: solid;
  border-bottom-width: thick;
}
.Timeline h2{
  font: 400 300% 'Lato';
}
@media screen and (max-height: 450px) {
  .Summary .title{visibility: hidden;}
  .Summary h1{font-size: 300%;}
  .sidebar {visibility: hidden;}
  .sidebar {padding-right: 1px;}
}
